{% extends 'admin/_base.html' %}
{% block home-state %}active{% endblock %}
{% block content %}

 <div class="py-4 px-3 px-md-4">

            <div class="mb-3 mb-md-4 d-flex justify-content-between">
                <div class="h3 mb-0">Dashboard</div>
            </div>

            
 
            <div class="row"> 

                <div class="col-md-6 col-xl-4 mb-3 mb-md-4">
                    <!-- Card -->
                    <div class="card flex-row align-items-center p-3 p-md-4">
                        <div>
                            <h5 class="lh-1 mb-0">All Posts</h5>
                            <small>{{post_num}}(+{{post_num_recent}})</small>
                        </div>
                        
                    </div>
                    <!-- End Card -->
                </div>

                <div class="col-md-6 col-xl-4 mb-3 mb-md-4">
                    <!-- Card -->
                    <div class="card flex-row align-items-center p-3 p-md-4">
                        <div>
                            <h5 class="lh-1 mb-0">Sold Posts</h5>
                            <small>{{all_post_sold_num}}(+{{all_post_sold_num_recent}})</small>
                        </div>
                      
                        </div>
                    <!-- End Card -->
                </div>

                <div class="col-md-6 col-xl-4 mb-3 mb-md-4">
                    <!-- Card -->
                    <div class="card flex-row align-items-center p-3 p-md-4 text-center">
                        <div>
                            <h5 class="lh-1 mb-0">Store</h5>
                            <small>{{all_post_waiting_num}} (+{{all_post_waiting_num_recent}})</small>
                        </div>
                       
                    </div>
                    <!-- End Card -->
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card mb-3 mb-md-4">
                        <div class="card-header">
                            <h5 class="font-weight-semi-bold mb-0">Recent Posts</h5>
                        </div>

                        <div class="card-body pt-0">
                            <div class="table-responsive-xl">
                                <table class="table text-nowrap mb-0">
                                    <thead>
                                    <tr>
                                    <th class="font-weight-semi-bold border-top-0 py-2">Title</th>
                                    <th class="font-weight-semi-bold border-top-0 py-2">Body</th>
                                    <th class="font-weight-semi-bold border-top-0 py-2">Category</th>
                                    <th class="font-weight-semi-bold border-top-0 py-2">Price</th>
                                    <th class="font-weight-semi-bold border-top-0 py-2">Created date</th>
                                    <th class="font-weight-semi-bold border-top-0 py-2">Status</th>
                                    <th class="font-weight-semi-bold border-top-0 py-2">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                
                                        {%if all_post%} {% for post in all_post%}
                                    <tr>
                                          <td class="align-middle py-3">
                                            <div class="d-flex align-items-center">{{post.title}}</div>
                                          </td>
                                          <td class="py-3">{{post.body|slice:":21"}}..</td>
                                          <td class="py-3">{{post.category}}</td>
                                          <td class="py-3">{{post.created}}</td>
                                          <td class="py-3">{{post.price}}RWF</td>
                                          <td class="py-3">
                                            {%if post.status == 'Unpaid'%}
                                            <span class="badge badge-pill badge-danger"
                                              >{{post.status}}</span
                                            >
                                            {%else%}
                                            <span class="badge badge-pill badge-success"
                                              >{{post.status}}</span
                                            >
                                            {%endif%}
                                          </td>
                                        <td class="py-3">
                                            <div class="position-relative">
                                                <a id="dropDown16Invoker" class="link-dark d-flex" href="#" aria-controls="dropDown16" aria-haspopup="true" aria-expanded="false" data-unfold-target="#dropDown16" data-unfold-event="click" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                                    <i class="gd-more-alt icon-text"></i>
                                                </a>

                                                <ul id="dropDown16" class="unfold unfold-light unfold-top unfold-right position-absolute py-3 mt-1 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="dropDown16Invoker" style="min-width: 150px; animation-duration: 300ms; right: 0px;">
                                                    <li class="unfold-item">
                                                        <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                            <i class="gd-pencil unfold-item-icon mr-3"></i>
                                                            <span class="media-body">Edit</span>
                                                        </a>
                                                    </li>
                                                    <li class="unfold-item">
                                                        <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                            <i class="gd-close unfold-item-icon mr-3"></i>
                                                            <span class="media-body">Delete</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {%endfor%} {%else%}
                                    <tr>
                                      <td colspan="6" align="center">You didn't post today</td>
                                    </tr>
                                    {%endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

{% endblock %}